
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;700&family=Roboto&family=Roboto+Slab&family=Rubik&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
body{
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}
.right {
    width: 75vw;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 15px;
    list-style: none;
    padding-top: 14px;
    font-weight: 600;
}
.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    list-style: none;
    padding-top: 14px;
    padding: 23px 13px;
    font-weight: 600;
    align-items: center;
    font-size: 12px;
}
.heading img{
    width: 20px;
}
.library{
    min-height: 80vh;
    position: relative;
}

.footer{
    display: flex;
    font-size: 11px;
    gap: 13px;
    position: absolute;
    bottom: 0;
}
.footer a{
    color: gray;
    text-decoration: none;
    
}
.header{
    display: flex;
    justify-content: space-between;

}
.header > *{
    padding: 20px;
}
